<!doctype html>
<html class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gradient-to-bl from-black to-blue-500 h-screen">
  <h1 class="text-3xl font-black text-center dark:text-white">
    mystory heroes
  </h1>
  <div class="grid grid-cols-5 gap-4 px-20" id="heroes"></div>
  <script src="custom.js"></script>
  
</body>
</html>