<!doctype html>
<html class="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-slate-900">
  <h1 class="text-3xl font-black text-center dark:text-white">
    mystory heroes
  </h1>
  <div class="flex justify-center items-center">
    <div class="grid  grid-cols-5 gap-4 font-black" id="heroes"></div>
  </div>
  <script src="custom.js"></script>

</body>
</html>